:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--very-light-gray);
}

h1 {
  color: var(--very-dark-blue);
  white-space: nowrap;
}

h1:first-child {
  font-weight: 200;
}

h1:nth-child(2) {
  margin-bottom: 25px;
}

p {
  color: var(--grayish-blue);
  line-height: 25px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  max-width: 580px;
  margin-bottom: 50px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  background-color: white;
  border-radius: 4px;
  width: 350px;
  height: 250px;
  box-shadow: 0 5px 25px -6px var(--grayish-blue);
  margin: 15px;
  padding: 25px;
  position: relative;
}

.card img {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

h3 {
  color: var(--very-dark-blue);
}

.sub-wrapper .card:nth-child(1) {
  margin-bottom: 25px;
}

.card p {
  font-size: 0.8rem;
}

.supervisor {
  border-top: 4px solid var(--cyan);
}

.team-builder {
  border-top: 4px solid var(--red);
}

.karma {
  border-top: 4px solid var(--orange);
}

.calculator {
  border-top: 4px solid var(--blue);
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }

  .wrapper {
    flex-direction: column;
  }

  .h1 {
    font-size: 1.8rem;
  }

  .title p {
    max-width: 340px;
  }
}
