@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root,
html[data-theme="light"] {
  /* Light Theme */
  --bg-color: hsl(0, 0%, 98%);
  --todo-list-bg-color: white;
  --border-color: hsl(236, 33%, 92%);
  --box-shadow: hsl(236, 9%, 61%);
  --font-color: hsl(235, 19%, 5%);
  --header-bg: url("./images/bg-desktop-light.jpg");
  --checked-background: linear-gradient(
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* Dark Theme */
}

html[data-theme="dark"] {
  --bg-color: hsl(235, 21%, 11%);
  --todo-list-bg-color: hsl(235, 24%, 19%);
  --border-color: hsl(237, 14%, 26%);
  --box-shadow: hsl(235, 24%, 19%);
  --font-color: hsl(234, 39%, 85%);
  --header-bg: url("./images/bg-desktop-dark.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
  color: var(--font-color);
}

.container {
  max-width: 680px;
  margin: 0 auto;
  padding: 0 30px;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background: var(--header-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  padding-top: 80px;
}

/* Theme Toggle */

.theme-switch input {
  display: none;
}

.theme-toggle {
  cursor: pointer;
  opacity: 0.8;
}

.theme-toggle:hover {
  opacity: 1;
}

[data-theme="dark"] .light,
[data-theme="light"] .dark {
  display: block;
}

[data-theme="dark"] .dark,
[data-theme="light"] .light {
  display: none;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 12px;
}

ul {
  list-style-type: none;
}

main {
  margin-top: -130px;
}

.todo-input {
  width: 100%;
  padding: 20px;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  font-family: inherit;
  background-color: var(--todo-list-bg-color);
  color: var(--font-color);
}

.todo-input:focus {
  outline: none;
}

.todo-list li {
  list-style-type: none;
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
  display: flex;
}

.wrapper {
  background-color: var(--todo-list-bg-color);
  border-radius: 3px;
  box-shadow: 0 10px 30px -15px var(--box-shadow);
  margin-top: 25px;
}

.todo-list li input[type="checkbox"] {
  appearance: none;
  height: 21px;
  width: 21px;
  outline: none;
  vertical-align: top;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
  z-index: 5;
  border: 1px solid var(--border-color);
}

.todo-list li input[type="checkbox"]::before {
  content: url("./images/icon-check.svg");
  position: absolute;
  top: 2px;
  left: 4px;
  opacity: 0;
  transition: all 0.2s ease-in;
  z-index: 3;
}

.todo-list li input[type="checkbox"]:checked {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


.todo-list li input[type="checkbox"]:checked::before {
  opacity: 1;
}

label{
  display: inline-block;
  width: 100%;
  cursor: pointer;  
  
}

.todo-list li input[type="checkbox"] + .task {
  line-height: 21px;
  cursor: pointer;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  margin-left: 8px;
  padding-top: 2px;

  transition: all 0.2s ease-out;
}

.todo-list li input[type="checkbox"]:checked + .task {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete-btn{
  cursor: pointer;
}

.delete-btn img{
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.action-container {
  padding: 20px;
  font-size: 0.9rem;
  color: var(--dark-grayish-blue);
}

.actions {
  font-weight: 700;
}

.actions li {
  margin-right: 20px;
}

.flex-flow {
  flex-flow: row wrap;
}

.items-left {
  order: 1;
}
.clear {
  order: 3;
}
.actions {
  order: 2;
}

h5 {
  margin-top: 60px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--dark-grayish-blue);
}

@media screen and (max-width: 768px) {
  .action-container {
    position: relative;
  }
  .actions {
    position: absolute;
    top: 80px;
    left: 0;
    padding: 20px 80px;
    background-color: var(--todo-list-bg-color);
    box-shadow: 0 10px 30px -15px var(--box-shadow);
    border-radius: 3px;
    width: 100%;
  }

  p {
    margin-top: 120px;
  }
}
